*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: black;
  background-color: white;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}