.main {
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 60px 0;
    }

    &__top-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    &__top-list__item {
        padding: 10px 20px;
        font-size: 16px;
        color: #9A9CA5;
        display: flex;
        flex-direction: row;
        gap: 4px;
        position: relative;
        cursor: pointer;
    }

    &__top-span {
        display: block;
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 8px;
    }


    &__catalog-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 390px 390px 390px;
        gap: 30px;
    }

    &__catalog-card__content {
        padding: 24px;
    }

    &__catalog-list__item {
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);

        box-shadow: 0px 12px 10px -6px rgba(154, 156, 165, 0.04);

        box-shadow: 0px 30px 24px -10px rgba(154, 156, 165, 0.05);

        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08);

    }

    &__catalog-card__category {
        margin: 0 0 20px 0;
        font-size: 14px;
    }

    &__catalog-card__title {
        margin: 0 0 20px 0;
        font-size: 20px;
    }

    &__catalog-card__price {
        margin: 0;
        font-size: 18px;
        color: #FF4242;
    }

    &__catalog-card__instructor {
        margin: 0;
        font-size: 18px;
        color: #787A80;

    }

    &__top-search__input {
        width: 315px;
        padding: 11px 16px;
        border: 1px black solid;
    }

    &__top-search__icon {
        position: absolute;
        top: 195px;
        right: 35px;
    }
}

.category-marketing {
    background-color: #03CEA4;
    color: white;
    width: 80px;
    border-radius: 4px;
    padding: 1px 8px;
}

.category-management {
    background-color: #5A87FC;
    color: white;
    width: 97px;
    border-radius: 4px;
    padding: 1px 8px;
}

.category-hr-recruiting {
    background-color: #F89828;
    color: white;
    width: 118px;
    border-radius: 4px;
    padding: 1px 8px;
}

.category-development {
    background-color: #7772F1;
    color: white;
    width: 99px;
    border-radius: 4px;
    padding: 1px 8px;
}

.category-design {
    background-color: #F52F6E;
    color: white;
    width: 59px;
    border-radius: 4px;
    padding: 1px 8px;
}